{% extends 'staff_management/admin_home.html'%}
{% block content %}
<div class="header"><span class="text" >create quotation</span><a href="{% url 'staff_logout' %}">log out</a></div> 
 <div class="container">
    <div class="error">
        {% if form.errors %}
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
    <!-- Display non-field errors -->
    {% if form.non_field_errors %}
        <ul>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

      <form method="post">
        {% csrf_token %}
    <div class="form-fields"  >
     <div class="left-form">
        <div class="form-group">
            {{form.errors}}
        <label for="id_name">Quotation number</label>
        {{ form.quotation_number}}
    
        </div>
        <div class="form-group">
            <label for="id_email">Name</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>
        {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span>
         {% endfor  %}


        <div class="form-group">
        <label for="id_contact_person">Material Charge</label>
        {{ form.material_charge}}
        </div>
        
        <div class="form-group">
            <label for="id_contact_person">setup charge</label>
            {{ form.setup_charges}}
            </div>
  
        <div class="form-group">
            <label for="id_phone_number">Substrate thickness</label>
            {{ form.substrate_thickness }}
        </div>

  

        <div class="form-group">
            <label for="id_substrate_thickness">Substrate Thickness:</label>
            {{ form.substrate_thickness }}
        </div>
     </div>
     <div class="right-form">
        <div class="form-group">
            <label for="id_copper_thickness">Copper Thickness:</label>
            {{ form.copper_thickness }}
        </div>
    
        <div class="form-group">
            <label for="id_single_double_side">extra charges</label>
            {{ form.extra_charges}}
        </div>
    
        <div class="form-group">
            <label for="id_quantity">shipping charges</label>
            {{ form.shipping_charges}}
        </div>
        <div class="form-group">
            <label for="id_length">Quantity</label>
            {{ form.quantity}}
        </div>
    
        <div class="form-group">
            <label for="id_length">Length</label>
            {{ form.length }}
        </div>
    
        <div class="form-group">
            <label for="id_breadth">Breadth </label>
            {{ form.breadth }}
        </div>
  
    
     </div>
    </div>
<div class="bts">
    <button type="submit" name="Email"> send mail</button>
        <button type="submit" name="submit">submit</button>

       </div>
      </form>
 
    <!--<a href="{%url 'customized_quotation'%}">
        <button>customized</button>
      </a>-->
   <div class="cost_display" >
    {% if  charge %}
    <p> total cost: {{charge}} </p>
    {% endif %}
  
</div>
</div>
    {% endblock content %}
