<!-- 
Responsive HTML Table With Pure CSS - Web Design/UI Design

Code written by:
👨🏻‍⚕️ Coding Design (Jeet Saru)

> You can do whatever you want with the code. However if you love my content, you can **SUBSCRIBED** my YouTube Channel.

🌎link: www.youtube.com/codingdesign 
 -->
<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convert | Export html Table to CSV & EXCEL File</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>

<body>
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Customer's Orders</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="{% static 'media/search.png' %}" alt="">
            </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="{% static 'media/pdf.png' %}" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="{% static 'media/json.png' %}" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="{% static 'media/csv.png' %}" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="{% static 'media/excel.png' %}"alt=""></label>
                </div>
            </div>
        </section>
        <section class="table__body">
            {% if  add_staff %}
            <table>
                <thead>
                    <tr>
                        <th> Name<span class="icon-arrow">&UpArrow;</span></th>
                        <th> Designaion <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Email <span class="icon-arrow">&UpArrow;</span></th>
                        <th> phone <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Username<span class="icon-arrow">&UpArrow;</span></th>
                        <th> password<span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in add_staff %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.designation}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.phone_number}}</td>
                        <td>{{i.username}}</td>
                        <td>{{i.password}}</td>
                    
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
            </table>
        </section>
    </main>
    <script src="script.js"></script>

</body>

</html>
