{% extends 'staff_management/admin_home.html'%}
{% block content %}
<div class="container">
  <div class="error" >
  {% if messages %}
    <ul class="messages"  style="color:rgb(247, 242, 242)">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{form.errors }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
    <div class="prb" style="color:rgb(247, 242, 242)">{{form.errors }}</div>
    <form method="post">
        {% csrf_token %}
        <div class="form-fields"  >
          <div class="left-form">
             <div class="form-group">
         
          <label>name</label>
          {{form.name}}
        </div>
        <div class="form-group">
          <label>email</label>
          {{form.email}}
        </div>
        <div class="form-group">
          <label> designation </label>
          {{form.designation }}
        </div> 
          <div class="form-group">
            <label>phone numbe</label>
            {{form.phone_number}}
        </div>
      </div>
      <div class="right-form">
        <div class="form-group">
        <label>Username</label>
        {{form.username}}
      </div>
      <div class="form-group">
        <label>Password</label>
        {{form.password}}
      </div>
      <div class="form-group">
        <label>Confirm password</label>
        {{form.confirm_password}}
          </div>
        </div>
      </div>
      <div class="bts">
      <button type="submit">add staff</button>
      </div>
    </form>
    </div>
  {% endblock content %}


